
:root {
    --primary-color: #0b9bd3; 
    --secondary-color: #f6404f;
    --accent-color: #f7a92d;
    --text-color: #414242;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    overflow: none;

}

body {
    font-family: 'Alata', sans-serif;
}

.card img {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background: no-repeat center center !important;
    object-fit: cover !important;
}

h2 {
    letter-spacing: 1px;
}

.header a {
    color: var(--text-color) !important;
}

ul a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.section-one {
    height: 500px;
    width: 100%;
    background: url('./img/hero.jpg')  no-repeat center/cover;
    position: relative;  
  }
  

.section-one-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    margin: auto;
    max-width: 100%;
    padding: 5rem 1rem; 
    line-height: 2em;
    color: #fefffe;      
}

.section-one-content h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--accent-color);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 5rem 1rem; 
}

.about-content h2 {
    margin-left: 50px;
    font-weight: 700;
}

.about-content p {
    display: block;
    background: var(--secondary-color);
    height: 200px;
    padding: 50px;
    z-index: -1;
    color: #fefffe;
}

.grid-section {
    margin: 2rem 0;
}

.partner {
    background: #f5f5f5;
}

.partner-content {
    padding: 1rem 0;
}

.partner-content img {
    width: 150px;
}

.contact-container {
    display: flex;
    flex-direction: row;
}

.contact-img {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background: no-repeat center center !important;
    object-fit: cover !important;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    outline: none;
    width: 350px;
    font-size: 17px;
    font-weight: 400;
    color: #555;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dedede;
}

.footer-section {
    background: url('./img/hero1.jpg')  no-repeat center/cover;
}

/* Utils */
.btn-1 {
    padding: 10px 15px;
    outline: none;
    border: 1px solid #fefffe;
    border-radius: 5px;
    margin-left: 5px;
    color: var(--secondary-color);
    background: transparent;
    letter-spacing: 1px;

}

.btn-2 {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: #fefffe;
    background: var(--primary-color);
    letter-spacing: 1px;  
}